{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires
{% endblock %}

{% block body %}
	<div class="container col-9">

		{% include "fragments/_flash_message.html.twig" %}

		<h1 class="mt-5 bg-secondary bg-gradient rounded-top-5 p-3 text-light text-center mb-0">Liste des commentaires
			<a href="{{ path('app_comment_new') }}" class="btn btn-success bg-gradient shadow btn-sm rounded-pill fw-bold">Ajouter un commentaire</a>
		</h1>
		<table class="table align-middle vertical-align-middle text-center table-borderless table-striped table-sm shadow">
			<thead class="table-group-divider text-center text-nowrap table-warning">
				<tr class="table-group-divider">
					<th class="fw-bold">
						<span class="badge bg-secondary rounded-pill">#</span>
					</th>
					<th>Auteur</th>
					{# <th>Contenu</th> #}
					<th>Publication</th>
					<th>Publié le</th>
					<th>Modifié le</th>
				</tr>
			</thead>
			<tbody>

				{% for comment in pagination %}
					<tr class="table-group-divider">
						<td class="fw-bold">
							<span class="badge bg-secondary rounded-pill">{{ comment.id }}</span>
						</td>
						<td>
							<a class="btn btn-outline-secondary rounded-pill text-center fw-bold" href="{{ path('app_comment_show', {'id': comment.id}) }}">{{ comment.user.alias }}
								<span class="badge bg-primary rounded-pill">#{{ comment.user.id }}</span>
							</a>
						</td>
						{# <td>{{ comment.content }}</td> #}
						<td>{{ comment.post().title }}</td>
						<td>{{ comment.publishedAt ? comment.publishedAt|date('d-m-Y H:i') : '' }}</td>
						<td>{{ comment.updatedAt ? comment.updatedAt|date('d-m-Y H:i') : '' }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9" class="bg-danger">Aucune entrée trouvée</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>

		{% include "fragments/_pagination.html.twig" %}

	</div>
{% endblock %}
