{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}
<div class="container col-9">
    
    <h1 class="mt-5">Liste des commentaires <a href="{{ path('app_user_new') }}" class="btn btn-success btn-sm rounded-pill">Ajouter un commentaire</a></h1>

    <table class="table table-bordered table-striped table-sm">
        <thead class="table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>PublishedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in pagination %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.title }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.publishedAt ? comment.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': comment.id}) }}" class="btn btn-primary m-1 btn-sm rounded-pill">show</a>
                    <a href="{{ path('app_user_edit', {'id': comment.id}) }}" class="btn btn-warning m-1 btn-sm rounded-pill">edit</a>
                    <a href="{{ path('app_user_delete', {'id': comment.id}) }}" class="btn btn-danger m-1 btn-sm rounded-pill">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
