{% extends 'base.html.twig' %}

{% block title %}Commentaire #{{ post.id }}{% endblock %}

{% block body %}
<div class="container col-9">
    <h1>Commentaire <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-warning m-1 btn-sm rounded-pill">Modifier</a></h1>

    <table class="table table-bordered table-striped table-sm">
        <tbody>
            <tr>
                <th class="table-dark">Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th class="table-dark">Titre</th>
                <td>{{ comment.title }}</td>
            </tr>
            <tr>
                <th class="table-dark">Contenu</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th class="table-dark">Publié le</th>
                <td>{{ comment.publishedAt ? comment.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="table-dark">Mis à jour le</th>
                <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('comment/_delete_form.html.twig') }}
    <a href="{{ path('app_comment_index') }}" class="btn btn-primary m-1 btn-sm rounded-pill">Retour</a>
</div>
{% endblock %}
