{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-5">Hey_Voisin, le Back-Office Officiel.</h1>
            <p>Vous êtes connecté en tant que Admin.</p>
            <p>Veuillez sélectionner une des options suivantes :</p>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="{{path('app_post_index') }}" class="btn btn-primary">Accéder aux publications</a></li>
                <li class="mb-2"><a href="{{path('app_category_index') }}"class="btn btn-primary">Accéder aux catégories</a></li>
                <li class="mb-2"><a href="{{path('app_user_index') }}" class="btn btn-primary">Accéder aux utilisateurs</a></li>
                <li class="mb-2"><a href="{{path('app_city_index') }}" class="btn btn-primary">Accéder aux localités</a></li>
                <li class="mb-2"><a href="{{path('app_avatar_index') }}" class="btn btn-primary">Accéder aux avatars</a></li>
                <li class="mb-2"><a href="{{path('app_comment_index') }}" class="btn btn-primary">Accéder aux commentaires</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}