{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
<div class="container col-9">
    
    <h1 class="mt-5">Liste des villes <a href="{{ path('app_city_new') }}" class="btn btn-success btn-sm rounded-pill">Ajouter une ville</a></h1>

    <table class="table table-bordered table-striped table-sm">
        <thead class="table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Zipcode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in pagination %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.zipcode }}</td>
                <td>
                    <a href="{{ path('app_city_show', {'id': city.id}) }}" class="btn btn-primary m-1 btn-sm rounded-pill">Voir</a>
                    <a href="{{ path('app_city_edit', {'id': city.id}) }}" class="btn btn-warning m-1 btn-sm rounded-pill">Modifier</a>
                    <a href="{{ path('app_city_delete', {'id': city.id}) }}" class="btn btn-danger m-1 btn-sm rounded-pill">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
