{% extends 'base.html.twig' %}

{% block title %}Liste des villes
{% endblock %}

{% block body %}
	<div class="container col-9">
		<h1 class="mt-5 bg-secondary bg-gradient rounded-top-5 p-3 text-light text-center mb-0">Liste des villes
			<a href="{{ path('app_city_new') }}" class="btn btn-success bg-gradient shadow btn-sm rounded-pill fw-bold">Ajouter une ville</a>
		</h1>
		<table class="table align-middle vertical-align-middle text-center table-borderless table-striped table-sm shadow">
			<thead class="table-group-divider text-center text-nowrap">
				<tr>
					<th>#</th>
					<th>Ville</th>
					<th>Code postal</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for city in pagination %}
					<tr class="table-group-divider">
						<td class="fw-bold">{{ city.id }}</td>
						<td>{{ city.name }}</td>
						<td>{{ city.zipcode }}</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-outline-primary m-1 btn-sm rounded-pill dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Actions
								</button>
								<ul class="dropdown-menu rounded-4 p-1">
									<li>
										<a class="dropdown-item rounded-pill" href="{{ path('app_city_show', {'id': city.id}) }}">Voir</a>
									</li>
									<li>
										<a class="dropdown-item rounded-pill" href="{{ path('app_city_edit', {'id': city.id}) }}">Modifier</a>
									</li>
									<li>
										<a class="dropdown-item bg-danger rounded-pill text-light" href="{{ path('app_city_delete', {'id': city.id}) }}">Supprimer</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "fragments/_pagination.html.twig" %}
	</div>
{% endblock %}
