{% extends 'base.html.twig' %}

{% block title %}Liste des villes
{% endblock %}

{% block body %}
	<div class="container col-6">

		{% include "fragments/_flash_message.html.twig" %}

		<h1 class="mt-5 bg-secondary bg-gradient rounded-top-5 p-3 text-light text-center mb-0">Liste des villes
			<a href="{{ path('app_city_new') }}" class="btn btn-success bg-gradient shadow btn-sm rounded-pill fw-bold">Ajouter une ville</a>
		</h1>
		<table class="table align-middle vertical-align-middle text-center table-borderless table-striped table-sm shadow">
			<thead class="table-group-divider text-center text-nowrap table-warning">
				<tr>
					<th class="fw-bold"><span class="badge bg-secondary rounded-pill">#</span></th>
					<th>Ville</th>
					<th>Code postal</th>
				</tr>
			</thead>
			<tbody>

				{% for city in pagination %}
					<tr class="table-group-divider">
						<td class="fw-bold"><span class="badge bg-secondary rounded-pill">{{ city.id }}</span></td>
						<td>
							<div class="dropdown">
								<button class="btn btn-outline-dark m-1 rounded-pill dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									{{ city.name }}
								</button>
								<ul class="dropdown-menu rounded-4 p-1">
									<li>
										<a class="dropdown-item rounded-pill" href="{{ path('app_city_edit', {'id': city.id}) }}">Modifier</a>
									</li>
									<li>
										<a class="dropdown-item bg-danger rounded-pill text-light" href="{{ path('app_city_delete', {'id': city.id}) }}">Supprimer</a>
									</li>
								</ul>
							</div>
						</td>
						<td>{{ city.zipcode }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9" class="bg-danger">Aucune entrée trouvée</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>

		{% include "fragments/_pagination.html.twig" %}

	</div>
{% endblock %}
