{% extends 'base.html.twig' %}

{% block title %}Ville #{{ city.id }}{% endblock %}

{% block body %}
<div class="container col-9">
    <h1>Ville <a href="{{ path('app_city_edit', {'id': city.id}) }}" class="btn btn-warning m-1 btn-sm rounded-pill">Modifier</a></h1>

    <table class="table table-bordered table-striped table-sm">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ city.zipcode }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('city/_delete_form.html.twig') }}
    <a href="{{ path('app_city_index') }}" class="btn btn-primary m-1 btn-sm rounded-pill">Retour</a>
</div>
{% endblock %}
