{% extends 'base.html.twig' %}

{% block title %}Avatar #{{ avatar.id }}{% endblock %}

{% block body %}
<div class="container col-9">
    <h1>Avatar <a href="{{ path('app_avatar_edit', {'id': avatar.id}) }}" class="btn btn-warning m-1 btn-sm rounded-pill">Modifier</a></h1>

    <table class="table table-bordered table-striped table-sm">
        <tbody>
            <tr>
                <th class="table-dark">Id</th>
                <td>{{ avatar.id }}</td>
            </tr>
            <tr>
                <th class="table-dark">Url</th>
                <td>{{ avatar.url }}</td>
            </tr>
            <tr>
                <th class="table-dark">Nom</th>
                <td>{{ avatar.name }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('avatar/_delete_form.html.twig') }}
    <a href="{{ path('app_avatar_index') }}" class="btn btn-primary m-1 btn-sm rounded-pill">Retour</a>
</div>
{% endblock %}
