<tbody>
	{% for post in posts %}
		<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-blue-100 dark:hover:bg-blue-600">
			<td class="w-4 p-4">
				<span class="badge bg-blue-200 p-3 rounded-lg font-bold">{{ post.id }}</span>
			</td>
			<th scope="row" class="px-6 py-4 font-medium text-blue-900 whitespace-nowrap dark:text-white">
				<a href="{{ path('app_post_show', {id : post.id}) }}">
					{{ post.title }}
				</a>
			</th>
			<td class="px-6 py-4">
				{{ post.user.alias }}
			</td>
			<td class="px-6 py-4">
				{{ post.city.name }}
			</td>
			<td class="px-6 py-4">
				{{ post.category.name }}
			</td>
			<td class="px-6 py-4 flex justify-center">
				{{ post.isActive ? '<span class="bg-green-500 rounded-full h-4 w-4 flex content-center justify-center"><span>' : '<span class="bg-red-500 rounded-full h-4 w-4 flex items-center justify-center"><span>' }}
			</td>
			<td class="px-6 py-4">
				{{ post.isOffer ? '<span class="badge bg-blue-200 text-gray-light px-3 py-2 rounded-lg">Offre</span>  ' : '<span class="badge bg-blue-200 text-gray-light px-3 py-2 rounded-lg">Demande</span>' }}
			</td>
			<td class="px-6 py-4">
				{{ post.publishedAt ? post.publishedAt|date('d-m-Y H:i') : '' }}
			</td>
		</tr>
	{% else %}
		{% include "fragments/_no_entry_message.html.twig" %}
	{% endfor %}
</tbody>
