{% extends 'base.html.twig' %}

{% block title %}Liste des publications
{% endblock %}

{% block body %}
	<div class="container col-9">

		{% include "fragments/_flash_message.html.twig" %}

		<h1 class="mt-5 bg-secondary bg-gradient rounded-top-5 p-3 text-light text-center mb-0">Liste des publications
			<a href="{{ path('app_post_new') }}" class="btn btn-success bg-gradient shadow btn-sm rounded-pill fw-bold">Ajouter une publication</a>
		</h1>

		<table class="table align-middle vertical-align-middle text-center table-borderless table-striped table-sm shadow">
			<thead class="table-group-divider text-center text-nowrap table-warning">
				<tr>
					<th class="fw-bold"><span class="badge bg-secondary rounded-pill">#</span></th>
					<th>Titre</th>
					{# <th>Contenu</th> #}
					<th>Ville</th>
					<th>Catégorie</th>
					<th>Active</th>
					<th>Offre</th>
					<th>Publié le</th>
					{# <th>Modifiée le</th> #}
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				{% for post in pagination %}
					<tr class="table-group-divider">
						<td class="fw-bold"><span class="badge bg-secondary rounded-pill">{{ post.id }}</span></td>
						<td>{{ post.title }}</td>
						{# <td>{{ post.resume }}</td> #}
						<td class="text-nowrap">{{ post.city.name }}</td>
						<td class="text-nowrap">{{ post.category.name }}</td>
						<td>{{ post.isActive ? 'Oui' : 'Non' }}</td>
						<td>{{ post.isOffer ? 'Oui' : 'Non' }}</td>
						<td>{{ post.publishedAt ? post.publishedAt|date('d-m-Y H:i') : '' }}</td>
						{# <td>{{ post.updatedAt ? post.updatedAt|date('d-m-Y H:i') : '' }}</td> #}
						<td>
							<div class="dropdown">
								<button class="btn btn-outline-primary m-1 btn-sm rounded-pill dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Actions
								</button>
								<ul class="dropdown-menu rounded-4 p-1">
									<li>
										<a class="dropdown-item rounded-pill text-center" href="{{ path('app_post_show', {'id': post.id}) }}">Voir</a>
									</li>
									<li>
										<a class="dropdown-item rounded-pill text-center" href="{{ path('app_post_edit', {'id': post.id}) }}">Modifier</a>
									</li>
									<li>
										<a class="dropdown-item bg-danger rounded-pill text-light text-center" href="{{ path('app_post_delete', {'id': post.id}) }}">Supprimer</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">Aucune entrée trouvée</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>

		{% include "fragments/_pagination.html.twig" %}
	
	</div>
{% endblock %}
