{% extends 'base.html.twig' %}

{% block title %}Posts index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Posts index</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Resume</th>
                <th>Is Active</th>
                <th>Is Offer</th>
                <th>Published At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in pagination %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.resume }}</td>
                <td>{{ post.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ post.isOffer ? 'Yes' : 'No' }}</td>
                <td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
    <a href="{{ path('app_post_new') }}" class="btn btn-success">Create New</a>
</div>
{% endblock %}