{% extends 'base.html.twig' %}

{% block title %}Liste des publications
{% endblock %}

{% block body %}
	<div class="container col-9">
		<h1 class="mt-5">Liste des publications
			<a href="{{ path('app_post_new') }}" class="btn btn-success btn-sm rounded-pill">Ajouter une publication</a>
		</h1>

		<table class="table table-bordered table-striped table-sm">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Contenu</th>
					<th>Active</th>
					<th>Offre</th>
					<th>Publiée le</th>
					<th>Modifiée le</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in pagination %}
					<tr>
						<td>{{ post.id }}</td>
						<td>{{ post.title }}</td>
						<td>{{ post.resume }}</td>
						<td>{{ post.isActive ? 'Oui' : 'Non' }}</td>
						<td>{{ post.isOffer ? 'Oui' : 'Non' }}</td>
						<td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i') : '' }}</td>
						<td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i') : '' }}</td>
						<td>
                            {{ include('fragments/_actions_btns.html.twig', {'id': post.id}) }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
