{% extends 'base.html.twig' %}

{% block title %}Liste des publications{% endblock %}

{% block body %}
<div class="container col-9">
    <h1 class="mt-5">Liste des publications <a href="{{ path('app_post_new') }}" class="btn btn-success btn-sm rounded-pill">Ajouter une publication</a></h1>

    <table class="table table-bordered table-striped table-sm">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Resume</th>
                <th>Is Active</th>
                <th>Is Offer</th>
                <th>Published At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in pagination %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.resume }}</td>
                <td>{{ post.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ post.isOffer ? 'Yes' : 'No' }}</td>
                <td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': post.id}) }}" class="btn btn-primary m-1 btn-sm rounded-pill">show</a>
                    <a href="{{ path('app_user_edit', {'id': post.id}) }}" class="btn btn-warning m-1 btn-sm rounded-pill">edit</a>
                    <a href="{{ path('app_user_delete', {'id': post.id}) }}" class="btn btn-danger m-1 btn-sm rounded-pill">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
