{% extends 'base.html.twig' %}

{% block title %}Index des publications | Hey, voisin !
{% endblock %}

{% block body %}
	<div class="flex flex-col justify-center items-center h-full">
		<div class="max-h-50 w-full max-w-screen-md bg-blue-300 rounded-xl p-3">

			{% include "fragments/_flash_message.html.twig" %}

			<h1 class="text-center uppercase font-bold text-blue-600">Index des publications
				<a href="{{ path('app_post_new') }}" class="lowercase">Ajouter une publication</a>
			</h1>
			{# <form>   
				<label for="default-search" class="mb-2 text-sm font-small text-gray-900 sr-only dark:text-white">Rechercher</label>
				<div class="relative">
					<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
						<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
						</svg>
					</div>
					<input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tapez votre recherche" required>
					<button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-600">Rechercher</button>
				</div>
			</form> #}
	
					{% for post in pagination %}
						<div class="flex flex-row bg-gray-50 rounded-xl mt-3 p-3">
							{# <div>
								<img class="h-24 rounded-xl" src="{{ asset('img/post.jpg') }}" alt="Image de publication">
							</div> #}
							<div class="flex flex-col p-3">
								<h3> {{ post.title }} </h3>
								<div class="flex flex-row" >
									<div class="p-3">
										<h4>Catégorie</h4>
										<p>{{ post.category.name }}</p>
									</div>
									<div class="p-3">
										<h4>Auteur</h4>
										<p>{{ post.user.alias }}</p>
									</div>
									<div class="p-3">
										<h4>Publié le</h4>
										<p>{{ post.publishedAt ? post.publishedAt|date('d-m-Y H:i') : '' }}</p>
									</div>
								</div>						
							</div>
							<div>
								
							</div>
						</div>
					{% else %}
						{% include "fragments/_no_entry_message.html.twig" %}
					{% endfor %}
	
				</tbody>
			</table>
		</div>
		<div class="flex flex-col">
		{% include "fragments/_pagination.html.twig" %}
		</div>

	</div>
{% endblock %}
