{% extends 'base.html.twig' %}

{% block title %}Publication #
	{{ post.id }}
{% endblock %}

{% block body %}
	<div class="container col-6">
		<h1 class="mt-5 bg-secondary bg-gradient rounded-top-5 p-3 text-light text-center mb-0">Publication
			<span class="badge rounded-pill text-bg-success">{{ post.id }}</span>
		</h1>
		<table class="table table-borderless table-striped table-sm shadow text-center">
			<tbody>
				<tr>
					<th class="table-success">Titre</th>
					<td class="fw-bold">{{ post.title }}</td>
				</tr>
				<tr>
					<th class="table-success">Auteur</th>
					<td>{{ post.user.alias }}</td>
				</tr>
				<tr>
					<th class="table-success">Résumé</th>
					<td>{{ post.resume }}</td>
				</tr>
				<tr>
					<th class="table-success">Actif</th>
					<td>{{ post.isActive ? 'Oui' : 'Non' }}</td>
				</tr>
				<tr>
					<th class="table-success">Offre</th>
					<td>{{ post.isOffer ? 'Oui' : 'Non' }}</td>
				</tr>
				<tr>
					<th class="table-success">Publié le</th>
					<td>{{ post.publishedAt ? post.publishedAt|date('d-m-Y H:i') : '' }}</td>
				</tr>
				<tr>
					<th class="text-nowrap table-success">Modifié le</th>
					<td>{{ post.updatedAt ? post.updatedAt|date('d-m-Y H:i') : '' }}</td>
				</tr>
			</tbody>
		</table>
		<div class="dropdown">
			<button class="btn btn-outline-primary m-1 btn-sm rounded-pill dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Actions
			</button>
			<ul class="dropdown-menu rounded-4 p-1 text-center">
				{% if is_granted('POST_EDIT', post) %}
					<li>
						<a class="dropdown-item rounded-pill m-1 text-center" href="{{ path('app_post_edit', {'id': post.id}) }}">Modifier</a>
					</li>
				{% endif %}
					{{ include('post/_delete_form.html.twig') }}
				</ul>
			</div>
			<a href="{{ path('app_post_index') }}" class="btn btn-secondary m-1 btn-sm rounded-pill">Retour</a>
		</div>
	{% endblock %}
