{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
	<div class="container col-9">

		{% include "fragments/_flash_message.html.twig" %}

		<h1 class="mt-5 bg-secondary bg-gradient rounded-top-5 p-3 text-light text-center mb-0">Liste des utilisateurs
			<a href="{{ path('app_user_new') }}" class="btn btn-success bg-gradient shadow btn-sm rounded-pill fw-bold">Ajouter un utilisateur</a>
		</h1>

		<table class="table align-middle vertical-align-middle text-center table-borderless table-striped table-sm shadow">
			<thead class="table-group-divider text-center text-nowrap table-warning">
				<tr>
					<th class="fw-bold"><span class="badge bg-secondary rounded-pill">#</span></th>
					<th>Alias</th>
					<th>Email</th>
					<th>Rôles</th>
					{# <th>Prénom</th> #}
					{# <th>Nom</th> #}
					{# <th>Adresse</th> #}
					{# <th>Code Postal</th> #}
					{# <th>Ville</th> #}
				</tr>
			</thead>
			<tbody>

				{% for user in pagination %}
					<tr class="table-group-divider">
						<td class="fw-bold"><span class="badge bg-secondary rounded-pill">{{ user.id }}</span></td>
						<td><a class="btn btn-outline-dark rounded-pill text-center fw-bold" href="{{ path('app_user_show', {'id': user.id}) }}">{{ user.alias }}</a></td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						{# <td>{{ user.firstname }}</td> #}
						{# <td>{{ user.lastname }}</td> #}
						{# <td class="text-nowrap">{{ user.address }}</td> #}
						{# <td>{{ user.getCity().zipcode }}</td> #}
					</tr>
				{% else %}
					{% include "fragments/_no_entry_message.html.twig" %}
				{% endfor %}
				
			</tbody>
		</table>

		{% include "fragments/_pagination.html.twig" %}

	</div>
{% endblock %}
