
<h1>Proposition d'aide pour votre annonce</h1>
<p>
    l'utilisateur {{senderUsername}} propose son aide pour votre annonce {{postTitle}}.
    Pour le contacter, voici son mail : {{senderEmail}}
</p>
<p>
    Voici son message : {{text}}
<p>
    (Cette offre sera valide pendant :{{ expiration_date|date('F jS') }})
</p>